---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Clickjacking (UI Redress Attack)">
<div class="page-container">
  <h1 class="page-header">Clickjacking (UI Redress Attack)</h1>
  
  <div class="content-card">
            <div class="content-title" dir="rtl" >Clickjacking چیست؟</div>
            <p class="content-text" dir="rtl" >
                Clickjacking یک تکنیک مخرب است که در آن مهاجم کاربر را فریب می‌دهد تا روی چیزی متفاوت از آنچه کاربر درک می‌کند کلیک کند، که به طور بالقوه منجر به افشای اطلاعات محرمانه یا کنترل رایانه او می‌شود.
            </p>
        </div>
        
        <div class="content-card">
            <div class="content-title" dir="rtl" >شدت تأثیر Clickjacking:</div>
            <ul class="content-list" dir="rtl" >
                <li>انجام اقدامات غیرمجاز توسط کاربران</li>
                <li>ربودن حساب</li>
                <li>کلاهبرداری مالی</li>
                <li>سرقت داده</li>
                <li>نصب بدافزار</li>
                <li>دستکاری رسانه‌های اجتماعی</li>
            </ul>
        </div>
    </div>

</div>
</MainLayout>