---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Open Redirect">
<div class="page-container">
  <h1 class="page-header">Open Redirect</h1>
  
  <div class="content-card">
            <div class="content-title" dir="rtl" >Open Redirect چیست؟</div>
            <p class="content-text" dir="rtl" >
                Open Redirect یک آسیب‌پذیری برنامه وب است که در آن مهاجم با دستکاری پارامترهای URL یا لینک‌ها، برنامه را فریب می‌دهد تا کاربران را به یک سایت خارجی مخرب یا غیرقابل اعتماد هدایت کند.
            </p>
        </div>
        
        <div class="content-card">
            <div class="content-title" dir="rtl" >شدت تأثیر Open Redirect:</div>
            <ul class="content-list" dir="rtl" >
                <li>حملات فیشینگ و سرقت اعتبار</li>
                <li>توزیع بدافزار</li>
                <li>ربایش نشست</li>
                <li>دور زدن کنترل‌های امنیتی</li>
                <li>از دست دادن اعتماد کاربر</li>
                <li>هرزنامه سئو و لیست سیاه شدن</li>
            </ul>
        </div>
    </div>


</div>
</MainLayout>