---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Remote Code Execution (RCE)">
<div class="page-container">
  <h1 class="page-header">Remote Code Execution (RCE)</h1>
  <div class="content-card">
    <div class="content-title" dir="rtl" >RCE چیست؟</div>
    <ul class="content-list" dir="rtl" style="text-align: right;">
      <li>اجرای کد از راه دور یک آسیب‌پذیری بحرانی است که به مهاجمان اجازه می‌دهد کد دلخواه را روی سیستم یا برنامه هدف اجرا کنند.</li>
      <li>این اغلب آسیب‌پذیری "جام مقدس" آسیب‌پذیری‌ها است زیرا کنترل کامل سیستم آسیب‌دیده را فراهم می‌کند.</li>
    </ul>
  </div>
    <div class="content-card">
    <div class="content-title" dir="rtl">شدت تأثیر RCE:</div>
    <ul class="content-list" dir="rtl" style="text-align: right;">
      <li>نفوذ کامل به سیستم</li>
      <li>سرقت و استخراج داده‌ها</li>
      <li>ایجاد پایداری برای مهاجم</li>
      <li>چرخش شبکه</li>
      <li>منجربه DOS</li>
    </ul>
    </div>
</div>

</div>
</MainLayout>