---
// src/components/TermCard.astro
const { term } = Astro.props;
---
<div class="flex items-center bg-gray-100 rounded-xl p-4 shadow hover:-translate-y-1 hover:shadow-lg transition w-full max-w-5xl mb-6">
  <div class="flex items-center">
    <span class={`text-white font-bold rounded-md px-4 py-3 mr-4 shadow text-lg ${term.color}`}>{term.acronym}</span>
  </div>
  <div>
    <span class="text-2xl font-semibold text-purple-700">{term.fullName}</span>
  </div>
</div>